<footer class="footer text-white py-2 mt-5">
    <div class="container text-center small">
        &copy; 2025, <strong>सरदार बल्लभ भाई पटेल राजकीय महाविद्यालय</strong>, बरकी, सेवापुरी, वाराणसी
    </div>
</footer>

