<footer class="app-footer bg-primary-subtle text-center" data-bs-theme="dark">

    <strong >
        Copyright &copy; <span id="currentYear"></span>&nbsp;
        <a href="" class="text-decoration-none">सरदार बल्लभ भाई पटेल राजकीय महाविद्यालय</a>.
    </strong>

    All rights reserved.
</footer>
<script>
    document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>

