<!-- Footer -->
<footer class="footer text-white py-2">
  <div class="container text-center small d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 flex-wrap">
    <div>
      &copy; 2025, <strong>सरदार बल्लभ भाई पटेल राजकीय महाविद्यालय</strong>, बरकी, सेवापुरी, वाराणसी |
    </div>
    <div>
      Powered By
      <a href="http://thetabyte.com/" target="_blank" class="thetaByte text-warning text-decoration-none">
        Thetabyte Solutions Pvt. Ltd.
      </a>
    </div>
  </div>
</footer>

